<p id="notice"><%= notice %></p>
<div class="account-header ">
  <%= image_tag(@user.avatar.url(:medium), :class => 'bordering', :id => 'profile-picture-page', :style => 'vertical-align: top, float: left') %>
  <p class="profile-name ">
    <strong>Username:</strong><br />
    <%= @user.username %>
    <br />
    <strong>E-mail:</strong><br />
    <%= @user.email %>
  </p>

  <p class="profile-points ">
    <strong>Forum points:</strong>
    <%= @user.forum_points %>
    <br/>
    <br/>
    <br/>
    <strong>Tutorial points:</strong>
    <%= @user.tutorial_points %>
    <br/>
    <br/>
    <br/>
    <strong>Teaching points:</strong>
    <%= @user.teaching_points %>
  </p>
</div>

<div id="acc-info" class="">
  <div class="profile-info">
    <strong>Country:</strong>
    <%= @user.country %>
  </div>

  <div class="profile-info">
    <strong>Gender:</strong>
    <%= @user.gender %>
  </div>

  <div class="profile-info">
    <strong>Position:</strong>
    <%= @user.position %>
  </div>


</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
