<p id="notice"><%= notice %></p>
<div class="account-header bordering">
  <%= image_tag(@user.avatar.url(:medium), :class => 'bordering', :id => 'profile-picture-page') %>
  <div class="profile-name bordering">
    <strong>Username:</strong>
    <%= @user.username %>
    <br />
    <strong>E-mail:</strong>
    <%= @user.email %>
  </div>

  <div class="profile-points bordering">
    <strong>Forum points:</strong>
    <%= @user.forum_points %>

    <strong>Tutorial points:</strong>
    <%= @user.tutorial_points %>

    <strong>Teaching points:</strong>
    <%= @user.teaching_points %>
  </div>
</div>

<div id="acc-info" class="bordering">
  <div class="profile-info">
    <strong>Username:</strong>
    <%= @user.username %>
  </div>

  <div class="profile-info">
    <strong>Email:</strong>
    <%= @user.email %>
  </div>

  <div class="profile-info">
    <strong>Country:</strong>
    <%= @user.country %>
  </div>

  <div class="profile-info">
    <strong>Gender:</strong>
    <%= @user.gender %>
  </div>

  <div class="profile-info">
    <strong>Position:</strong>
    <%= @user.position %>
  </div>


</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
