<p id="notice"><%= notice %></p>

<p>
  <strong>Youtube:</strong>
  <%= @tutorial.youtube_id %>
</p>

<p>
  <strong>Youtube name:</strong>
  <%= @tutorial.youtube_name %>
</p>

<p>
  <strong>Youtube description:</strong>
  <%= @tutorial.youtube_description %>
</p>

<p>
  <strong>Youtube votes:</strong>
  <%= @tutorial.youtube_votes %>
</p>

<%= link_to 'Edit', edit_tutorial_path(@tutorial) %> |
<%= link_to 'Back', tutorials_path %>
